
body {
	background-color: white;
}
.columns-gallery img {
	width:  300px;
	height: 400px;
	display: inline-box;
	vertical-align: top;
}

.paragraph {
	margin-right: 25px;
}
.columns-footer {
	display: inline-box;
	width: 400px;
	vertical-align: top;
	margin-top: 65px;
	margin-right: 50px;
}

.fonter {
	font-size: 50px;
	line-height: 62px;
	font-family: 'Norican', cursive;
}
img {
	width: 1250px;
}
.background-picture {
	background-image: url("beautiful.jpg");
	background-size: 1250px;
	height: 570px;
}	
.left {
	color: black;
	padding: (400, 625, 0, 0);
	text-align: center;
}
.box-left {
	background-color: rgba(232, 236, 241, 0.7);
    display: inline-block; 
	padding: 208.4px;
	margin-right: 622px;
    }
.box-left .text{
    position: absolute;
    z-index: 999;
	margin: 0 auto;
	left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
title {
	font-family: ;
}
#container {
	background-color: white;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
nav {
	background-color:
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin-left: 370px;
  
}
box {
	border-style: thin;
	border-color: black;
	border-width: 1px;
	text-align: left;
}

nav li {
  float: left;
  font-size: 30px;

}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #c7c5c4;
}

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 110%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  display: block;
 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
 
}
.about-intro{
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-color: var(--nav-album-bg);
}
.text-position {
	text-align: center;
}
.container-sm {
	max-width: 51.25rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
	text-align: left;
}
.font {
	font-family: Saira Stencil One;
}
.container-contact {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 400px;
  display: inline-block;
  margin-bottom: 50px;
}
.in-line {
	display: flex;
	width: 100px;
	margin-left: 25px;
}
  

footer {
  background-color: #3d3c3c;
  color: white;
  padding: 11px;
  text-align: right;
   
}
 .about {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #3d3c3c;
}
.text-position {
	text-align: center;
	color:white;
}
.round {
 icon: url("mypicture.jpg");	
 border-radius: 50%;
 width: 150px;
}
#full {
	width: 500px;
}